.header-text{
    color: #FFFF00 !important;
}

.result-scroll {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: auto;
}

.pascal-content {
    white-space: nowrap;
    min-width: min-content;
    padding-bottom: 1rem;
}